{% extends "base.html" %}
{% load static %}

{% block title %}
{{cat|capfirst}}
{% endblock %}


{% block content %}

{% for item in items %}

    <div class="items-list">
        <img src="{% static 'media/no_images.png' %}" alt="My image" width="200" height="150">
        <div class="items-info">
            <h3><a href="{% url 'item_id' item.id %}">{{ item|capfirst }}</a></h3>
        </div>
       <a>Добавить в корзину</a>
    </div>
{% endfor %}
<br>
<a href="{% url 'categories'%}">Назад</a>
{% endblock %}
