{% extends "base.html" %}
{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}

<div class="main" id="main">
    <div><h2>Авторизация</h2></div>
    <div>
        <div id="content-main">
            <form action="{% url 'user:login' %}" method="POST">
            {% csrf_token %}
                <div>{{form.as_p}}</div>
                <a href="{% url 'user:register' %}">Зарегистрироваться</a>
                <input type="submit" value="Авторизоваться">
            </form>
        </div>
    </div>
</div>

{% endblock %}