{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container-login">
    <div class="container-form">
        <h2>Авторизация</h2>
            <form action="{% url 'user:login' %}" method="POST">
            {% csrf_token %}
                <div class="forms">{{form.as_p}}</div>
                <button type="submit">Авторизоваться</button>
                <a href="{% url 'user:register' %}">Зарегистрироваться</a>
            </form>
    </div>
</div>

{% endblock %}