{% extends "base.html" %}
{% load static %}

{% block title %}
{{cat|capfirst}}
{% endblock %}


{% block content %}

{% for product in products %}
    <div class="items-list">
        <img src="{% static 'media/no_images.png' %}" alt="My image" width="200" height="150">
        <div class="items-info">
            <h3><a href="{% url 'products:item_id' product.id %}">{{ product|capfirst }}</a></h3>
        </div>
       <a href="{% url 'basket:add_to_basket' product.id %}">Добавить в корзину</a>
    </div>
{% endfor %}
{% endblock %}
